.game-wrapper{
	display: flex;
	flex-direction: column;
	flex: 1;
	height: calc(100% - 100px);
	height: -o-calc(100% - 100px); /* opera */
	height: -webkit-calc(100% - 100px); /* google, safari */
	height: -moz-calc(100% - 100px); /* firefox */
}

.game {
	margin-top: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

.game-board-filler {
	margin-left: 64px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.board-and-status {
	display: flex;
}

.status{
	margin-left: 16px;
	width: 130px;
}

.game-info {
	margin-right: 64px;
}

ol,
ul {
  padding-left: 30px;
}

.restart-button {
	padding-top: 16px;
}

.status {
	margin-bottom: 10px;
}
  

.default-button {
	padding: 8px 16px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  	font-size: 16px;
}

.history-button {
	margin-bottom: 16px;
	width: 152px
}