:root {
	--square-size: 9vw;
	--max-size: calc(((100vw - (395px)) / 3)  - 25px);  /* status + status margin + history + history margin = 395 */
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 6vw;
	font-weight: bold;
	line-height: var(--square-size);
	height: var(--square-size);
	width: var(--square-size);
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	max-width: var(--max-size);
	max-height: var(--max-size);
	min-width: 54px;
	min-height: 54px;
  }

  .winning-square {
	  border-color: #fff;
	  color: #fff; 
	  background-color:#4caf50;
  }

  .last-move{
	color:#000; 
	background-color:#dbefdc
  }
  
  .square:focus {
	outline: none;
  }
  
  .kbd-navigation .square:focus {
	background: #ddd;
  }